
GridPane.form {
	-fx-border-insets: 20 150 10 10;
    -fx-hgap: 10;
    -fx-vgap: 10;
}

.anchor-pane {
	-fx-padding: 0;
}

.buttonicon {
	-fx-background-color: transparent;
	-fx-margin-left: 2;
	-fx-margin-right: 2;
	-fx-padding: 3;
	-fx-pref-height: 16;
	-fx-pref-width: 16;
}
.form-dialog {
	-fx-padding: 10px;
	-fx-hgap: 10px;
}
.form-dialog .separator {
	-fx-margin: 5px 0 5px 0;
	-fx-padding: 5px 0 5px 0;
}
.form-dialog .label {
	-fx-font-weight: bold;
	-fx-padding-right: 5px;
}
.icon {
	-fx-pref-height: 16;
	-fx-pref-width: 16;
}

.styled-text-area .content {
    -fx-padding: 5px;
}
.styled-text-area .navigator {
    -fx-padding: 5px;
}

.text-danger {
	-fx-fill: #dc3545;
}
.text-muted {
	-fx-fill: #6c757d;
}
.text-secondary {
	-fx-fill: #6c757d;
}
.text-success {
	-fx-fill: #28a745;
}
.text-warning {
	-fx-fill: #ffc107;
}

.text-note {
	-fx-font-style: italic;
}

.titled-pane {
	-fx-margin: 0;
	-fx-background-insets: 0;
	-fx-padding: 0;
}
.button-toolbar {
	
}
.button-toolbar .button:hover {
	-fx-background-color: #AAA;
}
.tree-view {
	-fx-margin: 0;
	-fx-background-insets: 0;
	-fx-padding: 0;
}

#toolbar .button {
	-fx-background-color: transparent;
	-fx-padding: 3;
	-fx-margin-left: 2;
	-fx-margin-right: 2;
}
#toolbar .button:hover {
	-fx-background-color: #AAA;
}
#toolbar .separator {
	-fx-height: 16px;
}