
GridPane.form {
	-fx-border-insets: 20 150 10 10;
    -fx-hgap: 10;
    -fx-vgap: 10;
}

.buttonicon {
	-fx-background-color: transparent;
	-fx-margin-left: 2;
	-fx-margin-right: 2;
	-fx-padding: 3;
	-fx-pref-height: 16;
	-fx-pref-width: 16;
}
.binocles-pane {}
.binocles-pane .content-main, .binocles-pane.content-main {
	-fx-padding: 5px;
}
.binocles-pane .label {
	-fx-font-weight: bold;
	-fx-padding-right: 5px;
}
.binocles-pane .main-title {
	-fx-font-size: 20px;
}
.binocles-pane .sub-title {
	-fx-font-size: 16px;
}
.binocles-pane .sub-title .small-intro {
	-fx-font-size: 12px;
}
.binocles-pane .content-grid {
	-fx-hgap: 5px;
	-fx-vgap: 5px;
}
.binocles-pane .header {
	-fx-padding: 5px;
}
.binocles-pane .body {
	-fx-padding: 5px 0 0 10px;
}
.comment-box {
	-fx-padding: 0 0 5px 0;
}
.comment-box .comment-box-inner {
	-fx-padding: 5px;
	-fx-spacing: 2px;
	-fx-background-color: #FFFFFF;
	-fx-text-alignment: justify;
}
.comment-box .comment-box-inner .comment-entry {}
.chapter-pane {}
.chapter-pane .main-text-area {
	-fx-padding: 10px 15px 10px 15px;
	-fx-border-color: #dcdcdc;
}
.chapter-pane .zone-separator {}
.chapter-pane .splitpane {
	-fx-border: none;
}
.form-dialog {
	-fx-padding: 10px;
	-fx-hgap: 10px;
}
.form-dialog .zone-separator {
	-fx-margin: 5px 0 5px 0;
	-fx-padding: 5px 0 5px 0;
}
.form-dialog .label {
	-fx-font-weight: bold;
	-fx-padding-right: 5px;
}
.icon {
	-fx-pref-height: 16;
	-fx-pref-width: 16;
}

.quoted::before {
	content: "“"
}
.quoted::after {
	content: "”"
}

.styled-text-area .content {
    -fx-padding: 5px;
}
.styled-text-area .navigator {
    /*-fx-padding: 5px;*/
}

.style-justified {
	-fx-text-align: justify;
}

.text-danger {
	-fx-fill: #dc3545;
}
.text-muted {
	-fx-fill: #6c757d;
}
.text-secondary {
	-fx-fill: #6c757d;
}
.text-success {
	-fx-fill: #28a745;
}
.text-warning {
	-fx-fill: #ffc107;
}

.text-note {
	-fx-font-style: italic;
	-fx-fill: #6c757d;
}

.text-comments-separator {}
.button-toolbar {}
.button-toolbar .button:hover {
	-fx-background-color: #AAA;
}
.tree-view {
	-fx-margin: 0;
	-fx-background-insets: 0;
	-fx-padding: 0;
}

.chapter-pane .scroll-pane {
	-fx-padding: 10px 10px 0 10px;
}

#footer {
	-fx-padding: 3px;
	-fx-size: 0.8em;
}
#footer .left {
	-fx-fill: #9F9F9F;
}
#footer .right {}
#footer .separator {}
#toolbar .button {
	-fx-background-color: transparent;
	-fx-padding: 3;
	-fx-margin-left: 2;
	-fx-margin-right: 2;
}
#toolbar .button:hover {
	-fx-background-color: #AAA;
}
#toolbar .separator {
	-fx-height: 16px;
}